body {
    background-color: bisque;
}

.attention {
    color: red;
    font-size: 200%;
    border: 5px grey;
}

#only-one {
    color: blueviolet;
    background-color: aquamarine;
    font-size: 250%;
}