body {
    background-color: bisque;
    margin: 5% 10% 5% 15%;
}

footer {
    padding: 5%;
}

.attention {
    color: red;
    font-size: 200%;
    border: 5px grey;
}

#only-one {
    color: blueviolet;
    background-color: aquamarine;
    font-size: 250%;
}